#app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
}